<div class="profile-field-container">
  <div class="profile-field">
    <span class="profile-field__label">{{label}}</span>
    <div class="profile-field__input">
      {{#if edit}}
      {{{ SimpleInput className="" value=value type=type name=name ref="input" onBlur=onBlur }}}
      {{else}}
      <span>{{value}}</span>
      {{/if}}
    </div>
  </div>
  {{{ InputValidation ref="inputValidation" validateStr=""}}}
</div>
