<div class="profile-field">
  <span class="profile-field__label">{{label}}</span>
  <div class="profile-field__input">
    {{#if edit}}
    <input type={{#if type}}{{type}}{{else}}"text"{{/if}} name={{name}} value={{value}}>
    {{else}}
    <span>{{value}}</span>
    {{/if}}
  </div>
</div>
