<div class="chat-context-popup-container">
  {{#if isChatContextPopupOpened}}
  {{{ PopupOverlay onClick=overlayClickHandler}}}
  <section class="chat-context-popup">
    {{{ PopupButton icon="add-icon" title="Добавить пользователя" onClick=addUserHandler}}}
    {{{ PopupButton icon="remove-icon" title="Удалить пользователя" onClick=removeUserHandler }}}
    {{{ PopupButton icon="photo-icon" title="Изменить аватар" onClick=changeAvatarHandler }}}
    {{{ PopupButton icon="add-icon" title="Добавить чат" onClick=addChatHandler }}}
    {{{ PopupButton icon="remove-icon" title="Удалить текущий чат" onClick=removeChatHandler }}}
     <input type="file" id="avatar-input" accept=".jpg, .png, .jpeg" style="display: none;">
  </section>
  {{/if}}
</div>
