<div class="chat-card">
  <div class="chat-card__photo"
    {{#if chat.avatar}}
    style="background-image: url(https://ya-praktikum.tech/api/v2/resources{{chat.avatar}}); background-size: cover;"
    {{/if}}
  ></div>
  <div class="chat-card__info">
    <div class="d-flex alignItems-baseline justifyContent-spaceBetween">
      <div class="chat-card__contact-name">{{chat.title}}</div>
      <div class="chat-card__last-message-time">{{lastMessageTime}}</div>
    </div>
    <div class="chat-card__last-message-text">{{chat.last_message.content}}</div>
    {{#if chat.unread_count}}
    <div class="chat-card__new-mwssages-count">{{chat.unread_count}}</div>
    {{/if}}
  </div>
</div>
