<div class="form-input">
  <div class="form-input__title">{{title}}</div>
  <input class="form-input__input" value={{value}} type={{#if type}}{{type}}{{else}}"text"{{/if}} name={{name}}>
  <hr>
  {{#if validation}}
  <div class="form-input__validation">{{validation}}</div>
  {{/if}}
</div>