<main class="change-password-page">
  <div class="change-password-page__backward">
    {{{ ArrowButton direction="left" onClick=backHandler }}}
  </div>
  <div class="change-password-page__content">
    {{{ AvatarInput avatarId=user.avatar}}}
    <div class="profile-name">{{user.display_name}}</div>
    <form class="profile-form" action="">
      {{{ ProfileField label="Старый пароль" name="oldPassword" ref="oldPassword" edit=true validateFn=validateFns.password }}}
      {{{ ProfileField label="Новый пароль" name="newPassword" ref="newPassword" edit=true validateFn=validateFns.password }}}
      {{{ ProfileField label="Повторите новый пароль" name="newPasswordConfirm" ref="newPasswordConfirm" edit=true validateFn=confirmValidateFn }}}
      <br>
      <div class="profile-form__actions">
        {{{ FormButton title="Сохранить" onClick=saveHandler }}}
      </div>
    </form>
  </div>
</main>
