<div class="messages-list">
  {{#if chat}}
  <header class="messages-list__header">
    <div class="contact-info">
      <div class="contact-info__avatar">
        {{#if chat.avatar}}
        <div class="avatar-image"
          style="background-image: url(https://ya-praktikum.tech/api/v2/resources{{chat.avatar}}); background-size: cover;">
        </div>
        {{else}}
        <div class="icon-no-photo"></div>
        {{/if}}
      </div>
      <div class="contact-info__name">
        {{chat.title}}
      </div>
    </div>
    <div class="more-button">
      {{{ ThreeDotsButton onClick=menuClickHandler }}}
    </div>
  </header>
  <main class="messages-list__content">
    {{#each messages}}
    {{{ MessageCard isMine=isMine text=text time=time userName=userName }}}
    {{/each}}
  </main>
  <div>
  </div>
  <footer class="messages-list__footer">
    {{{ AttachButton onClick=attachClickHandler }}}
    {{{ MessageInput ref="message" }}}
    {{{ ArrowButton direction="right" onClick=sendHandler }}}
  </footer>
  {{{ ChatContextPopup ref="contextPopup" }}}
  {{{ AttachPopup ref="attachPopup" }}}
  {{else}}
  <div class="welcome-message">Выберите интересующий Вас чат</div>
  {{/if}}
</div>
