<div class="signin-page">
  <form class="signin-form" action="">
    <span class="signin-form__title">Регистрация</span>
    {{{ FormInput title="Почта" value="middle@ya.ru" name="email" validation="" }}}
    {{{ FormInput title="Логин" value="IVAN" name="login" }}}
    {{{ FormInput title="Имя" value="Ivan" name="first_name" }}}
    {{{ FormInput title="Фамилия" value="Ivanov" name="second_name" }}}
    {{{ FormInput title="Телефон" type="tel" name="phone" value="+7(777)-777-77-77" }}}
    {{{ FormInput title="Пароль" type="password" name="password" value="123456" }}}
    {{{ FormInput title="Пароль (еще раз)" type="password" name="password" value="1234" validation="Пароли не совпадают"}}}
    <br>
    {{{ FormButton title="Зарегистрироваться" linkTo="LoginPage"}}}
    {{{ FormButton title="Войти" transparent=true}}}
  </form>
</div>
