<div class="signin-page">
  <form class="signin-form" action="">
    <span class="signin-form__title">Регистрация</span>
    {{{ FormInput title="Почта" value="middle@ya.ru" name="email" ref="email" validateFn=validateFns.email }}}
    {{{ FormInput title="Логин" value="IVAN" name="login" ref="login" validateFn=validateFns.login }}}
    {{{ FormInput title="Имя" value="Ivan" name="first_name" ref="first_name" validateFn=validateFns.name }}}
    {{{ FormInput title="Фамилия" value="Ivanov" name="second_name" ref="second_name" validateFn=validateFns.name }}}
    {{{ FormInput title="Телефон" type="tel" name="phone" value="+7(777)-777-77-77" ref="phone" validateFn=validateFns.phone }}}
    {{{ FormInput title="Пароль" type="password" name="password" value="123456" ref="password" validateFn=validateFns.password }}}
    {{{ FormInput title="Пароль (еще раз)" type="password" name="password2" value="1234" ref="password2" validateFn=validateFns.password }}}
    <br>
    {{{ FormButton title="Зарегистрироваться" linkTo="LoginPage" onClick=onSignin}}}
    {{{ FormButton title="Войти" transparent=true}}}
  </form>
</div>
